//
//  Config.xcconfig
//  NyangJup
//
//  Created by 정지훈 on 8/6/26.
//

// Configuration settings file format documentation can be found at:
// https://developer.apple.com/documentation/xcode/adding-a-build-configuration-file-to-your-project

// xcconfig는 값 안의 //도 주석으로 잘라내므로 슬래시를 변수로 우회한다.
// 따옴표는 구분자가 아니라 값의 일부가 되므로 쓰지 않는다.
NJ_SLASH = /

BASE_URL =
MINIGAME_URL = https:$(NJ_SLASH)$(NJ_SLASH)nyang-jup-rhythm.vercel.app/
INFOPLIST_KEY_MiniGameURL = $(MINIGAME_URL)
